<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <div class="cover">
      
      <img class="img-center logo-neotel" src="../static/images/2.png" alt="image">

      <h1 class="title-big text-center">RELATÓRIO DE TESTE DE INVASÃO</h1>
      <h2 class="title-big bold text-center"><i>Pentest</i></h2>
      <h2 class="title-big bold text-center"><i>{{ data.capa.aplicacao }}</i></h2>
      
      <div class="date">
      <p class="text-tiny bold text-right">Contrato {{ data.capa.data_contrato }}</p>
      <p class="text-tiny bold text-right">{{ data.capa.data }}</p>
      </div>  
    </div>
  </body>
</html>

